*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%;
}

body {
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);

    display: grid;
    place-items: center;
    height: 100vh;
}

main {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);

    padding: 4.8rem 6.4rem 6.4rem;
    width: min(42.8rem, 90%);

    text-align: center;
}

/* screen1 */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    margin-bottom: 1.4rem;

    padding: 0 2rem;
}

h1, p {
    color: #34355B;
}

p {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

/* screen2 */

.screen2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    color: #34355B;
}

.screen2 p {
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;
    background: #E4EDF1;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
    margin: 0;
}

.screen2 img {
    padding: 4.3rem 0 4.3rem;
}

.screen2 button {
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    padding: 1.6rem;
    border: none;
    border-radius: 4px;
    background: #FF9500;
    color: #FFF;
    font-weight: 700;

    transition: background .3s;
}

.screen2 button:hover{
    background: #e28c14;
}

.hide {
    display: none;
}



